.q-field__native,
.q-field__input {
  font-family: inter-regular;
}

.q-btn__content {
  .block {
    font-family: inter-bold;
  }
}

.q-dialog__title {
  font-size: 20px !important;
  line-height: initial !important;
}

.text-subtitle1 {
  font-size: 14px !important;
  line-height: 30px !important;
}

.text-caption {
  line-height: 35px !important;
}

.q-btn {
  &::before {
    box-shadow: none !important;
  }
}

.q-btn.bg-primary {
  background: linear-gradient(127deg, #fff120, #fcdf6b) !important;
  color: #1c2a51 !important;
}
